body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 15px;
}
